#main {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
.text, li {
    font-size: 24px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}
.home_list {
    font-size: 34px;
    font-weight: lighter;
}
h6 {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
h5 {
    color: red;
}